<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display reservations</title>

    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table class="ui table green" >
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>PSID</th>
                <th>Arrive at</th>
                <th>Phone number</th>
                <th>People Number</th>
                <th>Created at</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <% reservations.forEach((reservation)=>{%>
                <tr>
                    <td id="customerName"><%- reservation.name %></td>
                    <td id="psid"><%- reservation.psid %></td>
                    <td id="phoneNumber"><%- reservation.phone_number %></td>
                    <td id="arriveAt"><%- reservation.arrive_at %></td>
                    <td id="peopleNumber"><%- reservation.people_number %></td>
                    <td id="createAt"><%- reservation.created_at %></td>
                    <td id="note"><%- reservation.note %></td>
                </tr>
              <% }); %>
        </tbody>
    </table>
</body>
</html>